*,
*::before,
*::after  {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Theaming */

body {
    --background: #f5f5f5;
    --secondary-background: #e9e9e9;
    --primary-color: #1b1b1b;
    --secondary-color: #9399a2;

    --outer-border-radius: 15px;

    font-family: 'Inter', sans-serif;
    font-size: 16px;
    color: var(--secondary-color);
    background-color: var(--background);
    padding: 1rem 0;
}

body.dark {
    --background: #0b131e;
    --secondary-background: #202b3b;
    --primary-color: #dde0e4;
    --secondary-color: #9399a2;
}

input {
    border: 0;
    outline: 0;
    background-color: var(--secondary-background);
    color: var(--primary-color);

    width: 100%;
    height: 60px;
    line-height: 60px;
    padding: 0 15px;
    border-radius: var(--outer-border-radius);

    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 1px;

    margin-bottom: 2rem;
}

::placeholder {
    color: var(--primary-color);
    opacity: 1;
}
  
::-ms-input-placeholder {
    color: var(--primary-color);
}

.current-city,
.current-temperature {
    font-size: 3rem;
    font-weight: 800;
    color: var(--primary-color);
}
.current-city {
    margin-bottom: 1rem;
}
.current-weather-icon {
    max-width: 100%;
    height: 250px;
}

.current-weather-details {
    padding: 0 10px;
}

.current-weather-details span {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--primary-color);
    white-space: nowrap;
}

aside {
    width: 100%;
    height: 100%;
    padding: 20px;
    border-radius: var(--outer-border-radius);
    background-color: var(--secondary-background);
}

.cards .card {
    position: relative;
}

.cards.vertical .card:not(:last-child):after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 1px;
    opacity: 0.2;
    background-color: var(--secondary-color);
}

.cards.vertical .card img {
    transition: transform .25s;
}

.cards.vertical .card .content {
    padding-right: 50px;
}

.cards.vertical .card .content .day {
    margin-bottom: .25rem;
}

.cards.horizontal .card img {
    display: block;
    margin: auto;
}

.cards.horizontal .card .content {
    padding: 20px 20px 0;
    text-align: center;
}

.cards .card img {
    width: 75px;
    height: auto;
}

.cards .card .details {
    font-size: 1rem;
    font-weight: 800;
    color: var(--primary-color);
    white-space: nowrap;
}

.cards .card .time {
    margin-bottom: .25rem;
}

.cards .card .list {
    margin-top: -10px;
    padding-bottom: 20px;
}

.cards .card:not(.is-active) .list {
    display: none;
}

.cards .card .i-chevron-down {
    transition: transform .25s;
}

.cards .card.is-active .i-chevron-down {
    transform: rotate(-180deg);
}

.cards .card .list .card img {
    display: block;
    margin: auto;
    width: 25px;
    height: auto;
}

.cards .card .list .card .content {
    text-align: center;
    padding: 0;
}

.cards .card .list .card .time,
.cards .card .list .card .details {
    font-size: 0.75rem;
}

.cards.vertical .row {
    margin-bottom: 0;
}
/* Grid */

.container {
    max-width: 1280px;
    margin: auto;
    padding-left: 50px;
    padding-right: 50px;
}

.row {
    margin-left: -15px;
    margin-right: -15px;
}

.row:not(:last-child) {
    margin-bottom: 15px;
}

.row.wrap {
    flex-wrap: wrap;
}

.direction-column {
    flex-direction: column;
}

.align-items-center {
    align-items: center;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-end {
    justify-content: flex-end;
}

.justify-content-space-between {
    justify-content: space-between;
}

.col {
    padding: 15px;
    flex-basis: auto;
    flex-grow: 1;
    flex-shrink: 1;
}

.col.no-grow {
    flex: none;
}

.col-3 {
    flex-basis: calc(100% / 4);
}

.col-4 {
    flex-basis: calc(100% / 3);
}

.col-6 {
    flex-basis: calc(100% / 2);
}

.col-8 {
    flex-basis: calc(100% / 1.5);
}

.col-full {
    flex-basis: 100%;
}

.row.narrow {
    margin-left: -5px;
    margin-right: -5px;
}

.row.narrow .col {
    padding: 5px;
}

@media screen and (min-width: 1025px) {
    .row {
        display: flex;
    }
}

@media screen and (max-width: 1024px) {
    .row.is-mobile {
        display: flex;
    }
}

@media screen and (max-width: 768px) {
    .container {
        padding-left: 30px;
        padding-right: 30px;
    }
    
}

.notification {
    color: rgb(16, 97, 189);
    background-color: rgba(18, 102, 180, 0.2);
    border-radius: var(--outer-border-radius);
    padding: 20px;
    margin-bottom: 2rem;
}

.notification.error {
    color: rgb(189, 16, 16);
    background-color: rgba(180, 18, 18, 0.2);
}

/* Icon */
.icon {
    display: block;
    content: ' ';
    width: 20px;
    height: 20px;
    -webkit-background-size: contain;
    background-size: contain;
    background-repeat: no-repeat;
}

.i-chevron-down {
    background-image: url(../icons/chevron-down.svg);
}

/* Animation */

.is-loading {
    --loading-gradient: transparent 8%, #f5f5f5 18%, transparent 33%;
}

.is-loading.dark {
    --loading-gradient: transparent 8%, #283549 18%, transparent 33%;
}

.is-loading .current-city,
.is-loading .current-temperature,
.is-loading .current-weather-icon,
.is-loading aside,
.is-loading .current-weather-details .col
{
    background: linear-gradient(110deg, var(--loading-gradient));
    border-radius: 5px;
    background-size: 200% 100%;
    animation: 1.5s pulse linear infinite;
}

@keyframes pulse {
    to {
        background-position-x: -200%;
    }
}
  