@use 'common'

.wrapper
	background-color: var(--background-color)
	padding-block: 1rem
	border-bottom: 0.0625rem solid

.in
	display: grid
	align-items: center
	grid-template-columns: auto 1fr auto
	column-gap: 1rem

.title
	margin: 0

.links
	list-style-type: none
	display: flex
	flex-wrap: wrap
	margin: 0

.item
	//

.link
	display: inline-block
	padding: 0.5em

.icons
	//
