@use 'common'

.wrapper
	width: 100%
	justify-content: center

.title
	margin-bottom: .4375rem
	color: common.$secondary-color
	font-size: 1.25rem
	font-weight: 700

.input
	border: .0625rem solid #e6e4bf
	border-radius: .5rem
	padding: .625rem
	width: 100%
	font-size: 1.25rem
	&:focus
		outline: none
		border-color: common.$secondary-color
