
*{
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;   
}
#game-field {
    display: grid;
    grid-template-columns: repeat(5,110px); /* 5 columns */
    gap: 15px; 
}

/* Style for the card itself */
.card {
    width: 100px;
    height: 100px;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: transparent;
    font-size: 1.2em;
    cursor: pointer;
    transition: transform 0.3s ease-in-out; 
    
}

/* Style for the flipped card */
.card.flipped {
    background-color: #fff; 
    color: #333; 
}

#game-field > * {
    outline: 1px solid red;
}

  