body {
    font-family: "Open Sans", sans-serif;
    color: #434343;
}

.blog-header {
    max-width: fit-content;
    margin: 50px auto;
}

.blog-logo {
    border-radius: 50%;
    vertical-align: middle;
}

.blog-title {
    font-size: 58px;
    display: inline-block;
    margin: 0;
    vertical-align: middle;
}

.blog-subtitle {
    color: #6a6a6a;
    text-align: center;
    font-size: 22px;
    margin: 40px auto 10px;
}

nav {
    max-width: 800px;
    margin: auto;
}

nav a {
    color: #434343;
    text-decoration: none;
    padding: 40px 20px;
    display: inline-block;
}

main {
    background-color: #f9f9f9;
}

.blog-wrapper {
    max-width: 800px;
    margin: 0 auto;
    padding: 30px 0;
}

.blog-wrapper article {
    padding: 30px 0;
}

.article-meta {
    position: relative;
    padding-bottom: 15px;
    font-size: 15px;
}

.article-tags {
    position: absolute;
    left: 0;
}

.article-tag {
    background-color: #c3e2e2;
    padding: 2px 10px;
    border-radius: 5px;
}

.article-author {
    margin-left: 10px;
    font-weight: bold;
}

.article-reading-time {
    position: absolute;
    right: 0;
}

.article-title a {
    color: #434343;
    text-decoration: none;
    font-size: 34px;
}

.article-text {
    line-height: 1.8;
    margin-bottom: 0;
    font-size: 15px;
}

footer {
    text-align: center;
    font-size: 14px;
    padding: 10px 0;
}