.tennis-section p {
    margin: 10px 0;
    font-size: 16px;
}

.tennis-section {
    margin: 20px;
}

.tennis-section h3 {
    margin-top: 0;
    color: #F47CB9;
    font-size: 22px;
    padding-bottom: 5px;
    border-bottom: 2px solid #F47CB9;
}

.image-row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
}

.image-row img {
    max-width: 30%;
    min-width: 150px;
    border-radius: 10px;
    height: auto;
    flex-shrink: 0;
    margin-bottom: 10px;
}

footer {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
}

@media (max-width: 700px) {
    .image-row img {
        max-width: 100%;
        min-width: 0;
    }
    nav a {
        font-size: 20px;
        padding: 8px 12px;
        margin: 3px;
    }

    .blog-title {
        font-size: 50px;
        margin-top: 10px;
        margin-bottom: 5px;
    }
}

@media print {
    body {
        background-color: white; 
        color: black;
    }

    .main-container {
        max-width: 100%;
        background-color: transparent;
    }

    nav, 
    .image-row {
        display: none;
    }

    .blog-title,
    .tennis-section h3 {
        color: black;
        border-bottom: none;
    }

    .tennis-section {
        padding: 0;
    }

    .blog-title {
        font-size: 24px;
        margin-top: 0.5em;
        margin-bottom: 0.5em;
    }

    .tennis-section h3 {
        font-size: 18px;
        margin-top: 1em;
    }

    .tennis-section p {
        font-size: 12px;
        margin-top: 0.5em;
        margin-bottom: 0.5em;
    }

    footer {
        font-size: 12px;
    }
}