* {
    box-sizing: border-box;
}
body {
    font-family: 'Open Sans', sans-serif;
    background-color: #f4f4f4;
    text-align: center;
}
#game-field {
    max-width: 600px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;
}
.card {
    background-color: #007bff;
    color: #007bff;
    height: 100px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}
.card:hover {
    background-color: #0056b3;
}
.card.revealed {
    background-color: #ffffff;
    color: black;
}
