
@media screen and (max-width: 1366px) {
    
    .object-inputWrap, .deep-inputWrap {
        width: 100%;
        display: flex;
    }

    .object-inputWrap input, .object-inputWrap label  {
        margin: 5px auto;
        text-align: left;
    }

    .output-deep-space table{
        padding: 40px;
     }

}


@media screen and (max-width: 800px) {
 
     header h1 {
         font-size: 30px;
         width: 50%;
         text-align: center;
     }

    .popup-content {
        width: 80%;
    }

     .app-button {
        border: 5px solid white;
        font-size: 16px;
     }

    .button {
        font-size: 14px;
    }

     .bodycard {
        width: 50%;
        padding: 10px;
     }

    .object-inputWrap input, .object-inputWrap label {
        margin: 2px auto;
        text-align: left;
        font-size: 18px;
    }
    .deep-inputWrap input, .deep-inputWrap label {
        font-size: 18px;
        text-align: left;
    }
     .bodycard table {
        font-size: 16px;
     }

     .output-deep-space table{
        padding: 20px;
        font-size: 14px;
     }
     
     footer {
         font-size: 16px;
     }
 }


@media screen and (max-width: 480px) {

    header h1 {
        font-size: 25px;
        width: 80%;
    }

    .popup {
        top: 0;
    }

    .popup-content {
        max-height: fit-content;
        width: 90%;
    }

    .button-panel {
        display: flex;
        flex-wrap: wrap;
    }

    .app-button {
        width: 100%;
        border: 2px solid white;
    }

    .object-inputWrap, .deep-inputWrap {
        flex-wrap: wrap;
    }
    
    .object-inputWrap input, .object-inputWrap label, .deep-inputWrap input, .deep-inputWrap label {
        font-size: 20px;
        width: 100%;
    }

    .bodycard {
        width: 100%;
    }

    .bodycard table {
        font-size: 20px;
    }

    .output-deep-space {
        overflow-x: scroll;
        overflow-y: scroll;
    }

    .output-deep-space table{
        padding: 5px;
        font-size: 12px;
     }

    footer {
        font-size: 14px;
    }
}
