* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    max-width: 800px;
    margin: 0 auto;
    padding: 0;
}

.instructions h1 {
    background-color: rgb(58, 132, 166);
    font-size: 25px;
    text-align: center;
    color: white;
    padding: 40px;
}

.instructions h2 {
    font-size: 20px;
}

.instructions p {
    font-size: 12px;
    font-weight: normal;
}

.wrapper{
    margin-top: 50px;
    margin-bottom: 20px;
}

.colors input {
    width: 25%;
    /*protoze tam jsou 4 sloupce*/
    color: white;
    border: none;
    font-size: 15px;
    padding: 10px;
    /*odsazeni textu*/
    margin: 0px;
    float: left;
    /*s timhle to nebude 3x3 matice*/
}

.clear {
    clear: both;
    /*vytvori prazdne misto*/
}

h2 {
    font-size: 15px;
}

/*nastovavani parametru konejneru, zvlaste pak pocet sloupcu*/
.container-01 .float-box {
    color: white;
    width: 100%;
    font-size: 60px;
    padding: 60px;
    text-align: center;
}

.container-02 .float-box {
    color: white;
    width: 50%;
    font-size: 60px;
    padding: 50px;
    text-align: center;
    float: left;
}

.container-03 .float-box {
    color: white;
    width: calc(100%/3);
    /* kvuli necelemu cislu sem davam tento zpusob*/
    font-size: 60px;
    padding: 40px;
    text-align: center;
    float: left;
}

.container-04 .float-box {
    color: white;
    width: 25%;
    font-size: 60px;
    padding: 30px;
    text-align: center;
    float: left;
}

.container-01 {
    display: flex;
    flex-wrap: wrap;
}

.container-02 {
    display: flex;
    flex-wrap: wrap;
}

.container-03 {
    background-color: gray;
    display: flex;
    flex-wrap: wrap;
}

.container-04 {
    background-color: gray;
    display: flex;
    flex-wrap: wrap;
}

/*prirazeni barev*/
.float-box:nth-child(1) {
    background-color: rgb(255, 125, 78);
}

.float-box:nth-child(2) {
    background-color: rgb(168, 89, 60);
}

.float-box:nth-child(3) {
    background-color: rgb(33, 165, 121);
}

.float-box:nth-child(4) {
    background-color: rgb(47, 83, 160);
}

.float-box:nth-child(5) {
    background-color: rgb(197, 56, 56);
}

.float-box:nth-child(6) {
    background-color: rgb(112, 158, 94);
}

.float-box:nth-child(7) {
    background-color: rgb(182, 109, 197);
}

.float-box:nth-child(8) {
    background-color: rgb(167, 35, 79);
}

.float-box:nth-child(9) {
    background-color: rgb(38, 189, 189);
}