body {
    font-family: 'Open Sans', sans-serif;
    background-color: white
}

.blog-header {
    justify-content: center;
    align-items: center;
    display: flex;
}

.blog-logo {
    float: left;
    border-radius: 50%;
}

.blog-title {
    font-size: 45px;
}

.blog-subtitle {
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
}

nav {
    max-width: 800px;
    margin: 0 auto;
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: left;
}

nav a {
    padding: 40px 20px;
    text-decoration: none;
    color: black;
}

nav a:hover {
    color: rgb(168, 230, 230);
}

main {
    background-color: rgb(252, 247, 247);
}

.blog-wrapper {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.article-meta {
    padding-bottom: 10px;
    margin-top: 20px;
}

.article-tags {
    float: left;
}

.article-tag {
    background-color: rgb(168, 230, 230);
    border-radius: 5px;
    padding: 4px;
}

.article-author {
    font-weight: bold;
    padding-left: 5px;
}

.article-reading-time {
    float: right;
    font-size: 13px;
}

.article-title {
    font-size: 40px;
    margin-bottom: 0;
}

.article-title a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.article-title a:hover {
    color: rgb(168, 230, 230);
}

.article-text {
    font-size: 15px;
    text-align: justify;
    margin-bottom: 60px;
}

footer {
    text-align: center;
    background-color: white;
    font-size: 13px;
}