
.events-container {
    flex-direction: column;
    height: 100%;
}

.event-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 99%;
    padding: 0.25rem;
    border-bottom: #333333 solid 1px;
}

.event-card:first-child {
    border-top: #333333 solid 1px;
}

.event-card:hover {
    background-color: #e7e4e4;
    cursor: pointer;
}

.event-name {
    font-weight: bold;
    font-size: 1.2rem;
    text-align: center;
    width: 50%;
}

.event-image {

    object-fit: cover;
    object-position: center;
    width: 25%;
}

.event-details {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 25%;
    padding: 0.25rem;
}

.event-date {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    padding: 0.25rem;
}

.event-details p {
    margin: 0;
}

.event-location {
    text-align: center;
}