* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.clear {
    clear: both;
}

h1 {
    text-align: center;
    padding: 50px 10px;
    color: white;
    background-color: rgb(192, 50, 50);
}

.instructions {
    max-width: 1280px;
    margin: 0 auto;
    margin-bottom: 50px;
}

.colors>input {
    width: 50%;
    padding: 5px;
    border: none;
    font-size: 18px;
    margin: 0;
    float: left;
    color: white;
}

.wrapper {
    background-color: #ffffff;
    max-width: 1280px;
    margin: 0 auto;
    margin-bottom: 50px;
    font-size: 35px;
    color:white;
}

.header{
    text-align:center; 
    padding:90px;
    background-color: rgb(223, 114,  75);

}
.nav{
    padding:30px;
    text-align:center;
    background-color: rgb(47, 108, 136);
}
.main{
    padding-top: 620px;
    padding-bottom: 620px;
    text-align:center;
    background-color: rgb(192,  70,  94);
}
.aside{
    padding-top: 620px;
    padding-bottom: 620px;
    text-align:center;
    background-color: rgb(53, 184, 155);
}
.footer{
    padding-top: 60px;
    padding-bottom: 60px;
    text-align:center;
    background-color: rgb(39,  39,  39);
}

@media screen and (min-width: 720px) {
    .colors>input {
        padding: 20px;
        width: calc(100% / 3);
    }
    .main{
        width:100%;
    }
}

@media screen and (min-width: 1024px) {
    .colors>input {
        width: 20%;
    }
    .main{
        width:70%;
        float:left;
    }
}