* {
    box-sizing: border-box;
}
body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.top-panel {
    display: flex;
    justify-content: space-between;
    border-top: 5px solid rgb(97, 97, 178);
}
.top-panel span {
    background-image: url(https://github.com/nvbach91/nvbach91/assets/20724910/e7e240b4-382d-4b09-a62b-2ad43e03b518);
    background-size: contain;
    background-repeat: no-repeat;
    padding: 10px;
    text-indent: 40px;
}
.top-panel a {
    color: black;
    text-decoration: none;
    padding: 10px;
    display: inline-block;
}
.site-billboard {
    background-image: url(https://github.com/nvbach91/nvbach91/assets/20724910/d0430f61-b06f-42ef-9f3e-a207d18be834);
    padding: 10px;
    background-size: cover;
    background-position: center;
}
.site-billboard h1, .site-billboard h3 {
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
    text-align: center;
    padding: 20px;
}
.content {
    max-width: 1024px;
    margin: 0 auto;
}
.products-header {
    background-image: url(https://github.com/nvbach91/nvbach91/assets/20724910/a8ad1146-4eb0-4bd4-8170-e1764783e892);
    padding: 50px;
    background-position: center;
    text-align: center;
}
.products-header h2 {
    background-color: rgba(255, 255, 255, 0.7);
}
.products {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}
.product {
    width: calc(100% / 1);
    padding: 10px;
}
.product h2 {
    border-bottom: 5px solid red;
    margin: 0;
    height: 50px;
}
.product p {
    height: 120px;
}
.product button {
    padding: 10px;
    border: none;
    background-color: rgb(174, 87, 87);
    color: white;
    border-radius: 5px;
}
.product:nth-child(1) h2 { border-color: blue;}
.product:nth-child(2) h2 { border-color: brown;}
.product:nth-child(3) h2 { border-color: yellow;}
.product:nth-child(4) h2 { border-color: green;}
.product:nth-child(5) h2 { border-color: purple;}
.product:nth-child(6) h2 { border-color: pink;}
.product:nth-child(7) h2 { border-color: orange;}
.product:nth-child(8) h2 { border-color: black;}
@media screen and (min-width: 800px) {
    .site-billboard {
        padding: 50px;
    }
    .product {
        width: calc(100% / 2);
    }
}
@media screen and (min-width: 1280px) {
    .site-billboard {
        padding: 100px;
    }
    .product {
        width: calc(100% / 3);
    }
}
@media screen and (min-width: 1920px) {
    .content {
        max-width: 1366px;
    }
    .site-billboard {
        padding: 200px;
    }
    .product {
        width: calc(100% / 4);
    }
}