* {
    box-sizing: border-box;
}
body {
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: grey;
    text-align: center;
}
#game-field {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;
    margin: 0 auto;
}
.card {
    background-color: rgb(67, 83, 124);
    color: transparent;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 700 !important;
    padding: 30px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.5s, color 0.5s;
}
.card:hover {
    outline: 2px dashed black;
}
.card.revealed {
    background-color: #ffffff;
    color: rgb(67, 83, 124);
}