*{
    margin: 0;
    padding: 0;
    letter-spacing: 1px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: capitalize;
}
body{

    min-height: 100vh;
    background: linear-gradient(45deg,rgb(192, 124, 185) 50%, #333  50%);
}
.container{
    height: 450px;
    width: 330px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgb(0,0,0,0.5);
    padding: 10px;
    overflow-y: auto;
}
#input{
    height: 50px;
    width:100%;
    outline: none;
    border: none;
    border-radius: 5px;
    background: #666;
    color: #fff;
    padding: 0 10px;
    margin: 15px 0;
}
#input::placeholder{
    color:#bbb;

}
.list-group-item  li {
    background: #eee;
    color: #333;
    height: 40px;
    line-height: 40px; 
    border-radius: 50px;
    margin: 10px 0;
    padding: 10px 50px; 
    position: relative;
    overflow: hidden; 
    text-align: center; 
}
ul .fa-check, .fa-trash {
    position: absolute;
    top: 50%; 
    transform: translateY(-50%); 
    cursor: pointer;
}

ul .fa-check{

right: 40px;
    color: rgb(108, 183, 47);

}
ul .fa-trash{
    right: 15px;
    color: rgb(0, 0, 0);
}

ul .checked{
    background: rgb(217, 236, 199);
    text-decoration: line-through;
    transition: .2s;
}