body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #f6c950;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;

}

.logo {
    height: 130px; 
    margin-right: 20px; 
}

.search-bar {
    display: flex;
    align-items: center;
    flex-grow: 1; 
}

#searchInput {
    padding: 8px 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-right: 10px;
    width: 500px; 
}

#searchButton {
    padding: 8px 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#searchButton:hover {
    background-color: #45a049;
}
