main nav {
    text-align: center;
    margin: 20px 0;
}

main nav a {
    color: #fff;
    margin: 0 10px;
    padding: 10px 20px;
    text-decoration: none;
    background-color: #444;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
    display: inline-block;
}

img {
    width: 100%;
    height: auto;
    max-width: 300px;
    margin: 0 auto;
}

.category-section {
    margin-bottom: 40px;
}

.category-section h2 {
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.suggestions-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}

.book,
.movie,
.game {
    display: inline-block;
    width: 160px;
    margin-right: 20px;
    vertical-align: top;
}

.book img,
.movie img,
.game img {
    width: 100%;
    height: auto;
    max-height: 200px
}

@media (max-width: 600px) {
    main {
        width: 95%;
    }

    #about-me img,
    #places-lived img {
        float: none;
        display: block;
        margin: 0 auto 10px;
    }
}

@media print {

    header nav,
    footer {
        display: none;
    }

    .category {
        page-break-before: always;
    }

    h1,
    h2,
    h3,
    a {
        color: black;
        page-break-after: avoid;
    }

    img {
        max-width: 100%;
    }
}