body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#header {
    width: 100%;
    padding: 20px;
    border-bottom: 2px solid #dee2e6;
}

 #logo {
    display: flex;
}

.nav-container{
    width: 100%;
}

#logo h1 {
    margin: 0 10px;

}

#welcomeSection {
    width: 100%;
    text-align: center;
    margin: 20px 0;
    font-size: 50px;
}

.action-buttons {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.action-buttons button {
    width: 50%;
    margin-bottom: 10px;
}


/* send-email */

#emailList {
    border: 1px solid #000;
    margin-top: 20px;
}

.email-item {
    border-bottom: 1px solid #000;
}

.email-item:last-child {
    border-bottom: none;
}


/*Api key */

#api-logo {
    text-align: center;
    margin-bottom: 20px;
    padding: 10px;
}

.container {
    width: 100%;
    max-width: 600px;
    margin: auto;
}

.input-group {
    margin-bottom: 20px;
}

#verifyButton {
    width: 100%;
    padding: 10px;
    border: 1px solid #000;
}