body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#caesar-decipher {
    background-color: #fff;
    padding: 40px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 300px;
    text-align: center;
}

#caesar-decipher:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

h1 {
    font-size: 24px;
    color: #333;
    text-align: center;
    margin-top: 0;
    padding-top: 20px;
}

h2#morpheus-catchphrase {
    font-size: 20px;
    color: #333;
    text-align: center;
    margin-top: 20px;
}
input[type='text'], input[type='number'] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}

#result {
    color: #333;
    font-size: 1.2em;
    margin-top: 20px;
}
