* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0 auto;
    padding: 0;
    max-width: 1280px;
}

.clear {
    clear: both;
}

h1 {
    text-align: center;
    padding: 50px 10px;
    color: white;
    background-color: rgb(192, 50, 50);
}
.instructions, .wrapper {
    max-width: 1280px;
    padding: 50px 10px;
    margin-bottom: 50px;
}

.colors>input {
    width: 50%;
    padding: 5px;
    border: none;
    font-size: 18px;
    margin: 0;
    float: left;
    color: white;
}
.header {background-color: rgb(223, 114,  75);padding: 125px; height:250px; text-align: center;}
.nav {background-color: rgb( 47, 108, 136);padding:20px;text-align: center; height:60px}
.main {background-color: rgb(192,  70,  94);text-align: center;height:400px; padding-top:180px}
.aside {background-color: rgb( 53, 184, 155);text-align: center;height:400px; padding-top:180px}
.footer {background-color: rgb( 39,  39,  39);padding:30px;text-align: center;height:80px}

.wrapper {
    width: 100%;
    padding: 5px;
    border: none;
    font-size: 18px;
    margin: 0;
    color: white;
}
@media screen and (min-width: 720px) {
    .row {
        display: flex;
        flex-wrap: wrap;
    }
    .main {
        width: 75%;
    }
    .aside {
        width: 25%;
    }
    body {
        width: 90%;
    }
}

@media screen and (min-width: 720px) {
    .colors>input {
        padding: 20px;
        width: calc(100% / 3);
    }
}

@media screen and (min-width: 1024px) {
    .colors>input {
        width: 20%;
    }
}