* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.clear {
    clear: both;
}

h1 {
    text-align: center;
    padding: 50px 10px;
    color: white;
    background-color: rgb(78, 146, 179);
}


.colors>input {
    padding: 20px;
    border: none;
    font-size: 18px;
    margin: 0;
    float: left;
    width: 25%;
    color: white;
}

.instructions {
    max-width: 1280px;
    min-width: 1280px;
    padding: 20px;
    margin: 0 auto;
    margin-bottom: 50px;
}

.wrapper {
   
   max-width: 1280px;
   min-width: 1280px;
   margin: 0 auto;
   margin-bottom: 50px;
   padding: 20px;
   width: 70%;
    
}

.container-01 {
    
    padding-bottom: 30px;
    display: grid;
    font-size: 70px;
    text-align: center;
    color: white;
    grid-template-rows: repeat(3, 300px);
    grid-template-columns: auto;


    .float-box:nth-child(1){ 
        display: flex;
        background-color: rgb(255, 125,  78);
        justify-content: center;
        align-items: center;

    }
    .float-box:nth-child(2){ background-color: rgb(168,  89,  60);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .float-box:nth-child(3){ background-color: rgb( 33, 165, 121);
        display: flex;
        justify-content: center;
        align-items: center;
    }
}   

.container-02 {
    
    padding-bottom: 30px;
    display: grid;
    text-align: center;
    font-size: 70px;
    color: white;
    grid-template-rows: repeat(3, 300px);
    grid-template-columns: auto auto;
    


    .float-box:nth-child(1){ background-color: rgb(255, 125,  78);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .float-box:nth-child(2){ background-color: rgb(168,  89,  60);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .float-box:nth-child(3){ background-color: rgb( 33, 165, 121);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .float-box:nth-child(4){ background-color: rgb( 47,  83, 160);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .float-box:nth-child(5){ background-color: rgb(197,  56,  56);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .float-box:nth-child(6){ background-color: rgb(112, 158,  94);
        display: flex;
        justify-content: center;
        align-items: center;
    }
}   

.container-03 {
    
    padding-bottom: 30px;
    display: grid;
    text-align: center;
    font-size: 70px;
    color: white;
    grid-template-rows: repeat(3, 300px);
    grid-template-columns: auto auto auto;

    .float-box:nth-child(1){ background-color: rgb(255, 125,  78);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .float-box:nth-child(2){ background-color: rgb(168,  89,  60);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .float-box:nth-child(3){ background-color: rgb( 33, 165, 121);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .float-box:nth-child(4){ background-color: rgb( 47,  83, 160);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .float-box:nth-child(5){ background-color: rgb(197,  56,  56);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .float-box:nth-child(6){ background-color: rgb(112, 158,  94);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .float-box:nth-child(7){ background-color: rgb(182, 109, 197);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .float-box:nth-child(8){ background-color: rgb(167,  35,  79);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .clear{ background-color: gray;
        display: flex;
    }
}   
.container-04 {
    
    padding-bottom: 30px;
    display: grid;
    text-align: center;
    font-size: 70px;
    color: white;
    grid-template-rows: repeat(2, 300px);
    grid-template-columns: auto auto auto auto;

    .float-box:nth-child(1){ background-color: rgb(255, 125,  78);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .float-box:nth-child(2){ background-color: rgb(168,  89,  60);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .float-box:nth-child(3){ background-color: rgb( 33, 165, 121);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .float-box:nth-child(4){ background-color: rgb( 47,  83, 160);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .float-box:nth-child(5){ background-color: rgb(197,  56,  56);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .clear{ background-color: gray;
        display: flex;
        grid-row-start: auto;
        grid-row-end: auto;
        grid-column-start: 2;
        grid-column-end: 5;
    }
    
}   