body {
    text-align: center;
    font-family: Calibri;
    background-image: url(https://wallpapercave.com/wp/wp7667538.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.achievement_ui {
    background-color: rgba(250, 235, 215, 0.4);
    display: inline-block;
    height: 800px;
    width: 30%;
    border: 3px solid burlywood;
    overflow: scroll;
}

.banner {
    height: 100px;
    background-color: rgba(3, 3, 65, 0.76);
    border-radius: 20px;
    margin-bottom: 10px;
}

.title {
    display: block;
    color: white;
}

.cookie_ui {
    background-color: rgba(250, 235, 215, 0.4);
    vertical-align: top;
    display: inline-block;
    height: 800px;
    width: 33%;
    border: 3px solid burlywood;
}

.upgrades_shop {
    background-color: rgba(250, 235, 215, 0.4);
    vertical-align: top;
    display: inline-block;
    height: 800px;
    width: 33%;
    border: 3px solid burlywood;
    overflow: scroll;
}

.main-button {
    background-color: beige;
}

.cookie-button {
    height: 400px;

}

.button_upgrade {
    background-color: beige;
    color: black;
    border: 2px solid burlywood;
    margin: 5px;
    height: 50px;
    font-size: medium;
}

button:hover {
    background-color: beige;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}