body {
    text-align: center;
    font-family: Calibri;
    background-image: url(https://wallpapercave.com/wp/wp7667538.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

#loader {
    border: 12px solid #f3f3f3;
    border-radius: 50%;
    border-top: 12px solid #009fbb;
    width: 70px;
    height: 70px;
    animation: spin 1s linear infinite;
}

.center {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

.achievement_ui {
    background-color: rgba(250, 235, 215, 0.4);
    display: inline-block;
    height: 800px;
    width: 30%;
    border: 3px solid burlywood;
    overflow: scroll;
}

.banner {
    height: 100px;
    background-color: rgba(3, 3, 65, 0.76);
    border-radius: 20px;
    margin-bottom: 10px;
}

.title {
    display: block;
    color: white;
}

.cookie_ui {
    background-color: rgba(250, 235, 215, 0.4);
    vertical-align: top;
    display: inline-block;
    height: 800px;
    width: 33%;
    border: 3px solid burlywood;
}

.upgrades_shop {
    background-color: rgba(250, 235, 215, 0.4);
    vertical-align: top;
    display: inline-block;
    height: 800px;
    width: 33%;
    border: 3px solid burlywood;
    overflow: scroll;
}

button {
    background-color: beige;
    color: black;
    border: 2px solid burlywood;
    margin: 5px;
    height: 50px;
    font-size: medium;
    margin-bottom: 20px;
}

button:hover {
    background-color: beige;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

#main-button {
    background-color: beige;
    height: 400px;
}

#main-button:hover {
    background-color: beige;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

#main-button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.cookie-button {
    height: 400px;

}

#btn {
    background-color: whitesmoke;
    height: 22px;
}