body {
    font-family: 'Rubik', sans-serif;
    margin: 0;
    padding: 0;
  }

  nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: black;
    overflow: hidden;
    text-align: center;
    z-index: 1000;
  }

  nav a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: color 0.3s ease;
  }

  nav a:hover {
    background-color: rgb(207, 0, 0);
    color: black;
  }

  .selected {
    background-color: rgb(207, 0, 0);
    color: white;
  }

  .home-title {
    margin: 0;
    font-size: 200px;
    padding-bottom: 10px;
  }

  h1{
    color: rgb(207, 0, 0);
    font-family: 'Ephesis', cursive;
    font-size: 60px;
    text-align:center;
    padding-top: 50px;
    padding-bottom: 20px;
  }

  p {
    color: white;
    font-size: 20px;
    margin-top: 20px;
    font-weight: 300;
    max-width: 700px;
  }

  .intro {
    height: 800px;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0 150px;
  }

  .parallax-bg {
    background: #000000;
    background-image: url('../media/bg.jpg');
    background-attachment: fixed;
    background-position: center 1%;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
  }
  .container {
    display: flex;
    justify-content: center;
    margin: 50px 0;
  }

  .card {
    width: 220px;
    height: 220px;
    background-color: #000000;
    margin: 0 10px;
    padding: 20px;
    box-sizing: border-box;
    font-size: medium;
    }

  .card h3 {
    font-size: 35px;
    font-weight: bold;
    color: rgb(207, 0, 0);
    margin-left: 20px;
    margin-top: 40px;
    margin-bottom: 0;
  }
  .card p {
    font-size: 20px;
    color: white;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 0;
    transition: color 0.3s ease;
  }
  .card:hover p {
  color: rgb(207, 0, 0);
  }

  .black {
    background-color: black;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
    background-color: black;
  }

  .black img {
    height: 450px
  }

  .mail-container {
  width: 420px;
  text-align: left;
  margin: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(0, 0, 0);
  }

  .mail-container h2{
    color:white;
    font-family:'Ephesis', cursive;
    font-size: 40px;
  }

  input {
  padding: 12px;
  margin: 8px 0;
  width: calc(100% - 24px);
  border: none;
  border-radius: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: 'Rubik', sans-serif;
  }

  button {
      padding: 15px;
      margin-top: 10px;
      margin-bottom: 20px;
      cursor: pointer;
      background-color: rgb(207, 0, 0);
      color: #fff;
      border: none;
      border-radius: 0;
      font-size: 16px;
      width: calc(100% - 24px);
      transition: color 0.3s ease;
      font-family: 'Rubik', sans-serif;
  }

  button:hover{
    background-color: #000000;
    color: rgb(207, 0, 0);
  }

  button:active {
  transform: scale(0.95);
  transition: transform 0.1s ease;
  }

  .footer-icons {
    position: absolute;
    bottom: 20px;
    right: 40px;
    display: flex;
  }

  .footer-icons i {
    font-size: 24px;
    margin-left: 10px;
    color: #ffffff;
  }

  @media only screen and (max-width: 768px) {
  .intro {
    padding: 0 20px;
  }

  .parallax-bg{
    background-position: -700px center;
  }

  .home-title {
    font-size: 120px;
  }

  .intro-text {
    font-size: 18px;
  }

  .container {
    flex-direction: column;
    align-items: center;
  }

  .card {
    width: 220px;
    height: 220px;
    margin: 10px 0;
  }

  .card h3 {
    margin-left: 0;
    font-size: 28px;
    margin-top: 20px;
  }

  .card p {
    margin-left: 0;
    font-size: 16px;
    margin-top: 10px;
  }
  .black img {
    height: 250px
  }
  }