* {
    box-sizing: border-box;
}

.header, .left-navigation, .content, .footer, .column-3 {
    padding: 50px;
    width: 100%;
}
.header { background-color: rgb(81, 81, 216); }
.left-navigation { background-color: rgb(208, 149, 41); }
.content{ background-color: rgb(106, 106, 106); }
.footer { background-color: rgb(59, 157, 59); }
.column-3 {
    background-color: rgb(189, 90, 90);
    width: 100%;
}

@media screen and (min-width: 800px) {
    .main {
        display: flex;
        flex-wrap: wrap;
    }
    .left-navigation {
        width: 40%;
    }
    .content {
        width: 60%;
    }
}

@media screen and (min-width: 1024px) {
    .left-navigation {
        width: 35%;
    }
    .content {
        width: 40%;
    }
    .column-3 {
        width: 25%;
    }
}

@media print {
    .header, .left-navigation, .content, .footer, .column-3 {
        background-color: transparent;
        padding: 0;
        margin-bottom: 20px;
        text-align: justify;
    }
    body {
        padding: 40px;
    }
}