body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #8d8d8d; 
    color: #333; 
}

.spinner {
    display: block;
    margin: 20px auto;
    width: 48px;
    height: 48px;
    border: 5px solid #242424;
    border-bottom-color: transparent;
    border-radius: 50%;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

.clear-storage {
    display: inline;
}

#game-container {
    max-width: 800px; 
    margin: auto; 
    padding: 20px;
    background-color: #ee8666; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.8); 
    border-radius: 10px; 
}

#hero-image-container {
    padding: 20px;
    background-color:  #8d8d8d; 
    border-radius: 8px; 
    margin-bottom: 20px;
    width: auto;
    height: auto;
}

#hero-image {
    max-width: 100%; 
    height: auto;
    border-radius: 8px;
}

input[type="text"], button {
    padding: 10px;
    margin: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
}

button {
    background-color: #5a67d8;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); 
    transform: scale(1.05); 
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}
.button-correct {
    background-color: #28a745; 
}

.button-incorrect {
    background-color: #dc3545;
}

#guessed-heroes-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.guessed-hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;
}

.guessed-hero-image {
    min-width: 100px;
    min-height: 100px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
}

.guessed-hero-name {
    margin-top: 5px;
    font-weight: bold;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}