* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.clear {
    clear: both;
}

h1 {
    text-align: center;
    padding: 50px 10px;
    color: white;
    background-color: rgb(192, 50, 50);
}

.instructions {
    max-width: 1280px;
    margin: 0 auto;
    padding: 20px;
    margin-bottom: 50px;
}

.colors>input {
    width: 50%;
    padding: 5px;
    border: none;
    font-size: 18px;
    margin: 0;
    float: left;
    color: white;
}

.wrapper {
    background-color: #ccc;
    max-width: 1280px;
    margin: 0 auto;
    font-size: 30px;
    color: white;
    text-align: center;
}






.wrapper header {
    background-color: rgb(223, 114, 75);
    padding: 100px;
}

.wrapper nav {
    background-color: rgb(47, 108, 136);
    padding: 20px;
}

.row main {
    background-color: rgb(192, 70, 94);
    float: left;
    width: 70%;
    padding: 100px;
    padding-top: 500px;
    padding-bottom: 500px;
}

.row aside {
    background-color: rgb(53, 184, 155);
    float: left;
    width: 30%;
    padding: 100px;
    padding-top: 500px;
    padding-bottom: 500px;
}

.wrapper footer {
    clear: both;
    background-color: rgb(39, 39, 39);
    padding: 30px;
}








@media screen and (max-width: 720px) {

    .row main,
    .row aside {
        width: 100%;
        float: none;
    }
}












@media screen and (min-width: 720px) {
    .colors>input {
        padding: 20px;
        width: calc(100% / 3);
    }
}

@media screen and (min-width: 1024px) {
    .colors>input {
        width: 20%;
    }

    .row {
        display: flex;
        flex-wrap: wrap;
    }

    .row main {
        width: 70%;
    }

    .row aside {
        width: 30%;
    }
}