* {
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    color: #434343;
    background-color: #f1f1f1;
}
header {
    background-image: url(https://getwallpapers.com/wallpaper/full/f/6/d/784777-pokemon-legendary-wallpaper-1920x1080-for-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
}
header h1 {
    margin: 0;
    padding: 40px 20px;
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
}
nav {
    background-color: #477894;
    display: flex;
    justify-content: center;
}
nav a {
    display: inline-block;
    text-decoration: none;
    padding: 20px;
    color: white;
    font-size: 20px;
}
main {
    max-width: 1024px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px 40px;
}
main h2 {
    text-align: center;
}
article {
    margin-bottom: 50px;
}
article p {
    text-align: justify;
    line-height: 28px;
}
article h3 {
    color: #477894;
    font-size: 32px;
    padding: 20px 0;
    border-radius: 3px;
    margin: 0;
}
article img {
    float: left;
    width: 140px;
    margin-right: 20px;
}
aside, footer {
    text-align: center;
    background-color: #477894;
    color: white;
    padding: 20px 0;
}
footer {
    background-color: #2c5369;
}