body {
  font-family: Arial, sans-serif;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cipher-container {
  margin-top: 20px;
}

h1 {
  color: #333;
}

.input-container {
  margin: 10px;
}

textarea,
input {
  padding: 5px;
  font-size: 16px;
  width: 600px;
}

textarea{
  resize: none;
  height: 100px;
}

button {
  background-color: #0074cc;
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

#result {
  font-size: 20px;
  margin-top: 20px;
}
