* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
}

#game-field {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.card {
    flex-wrap: nowrap;
    width: 20%;
}

img {
    width: 100%;
    padding: 2px 5px;
    border-radius: 50px;
}

img:hover {
    cursor: pointer;
}