body {
    background-color: #121212;
    color: #fefefe;
    display: flex;
    flex-direction: column;
}

h1,h3 {
    text-align: center;
}

.btn.btn-info {
    margin: 10px;
    float: right;
}

.btn.btn-primary{
    width: 30%;
    margin: 10px;
}

.subjects {
    text-align: center;
}

footer{
    padding-top: 600px;
    float: bottom;
}

div,footer{
    text-align: center;
}
