* {
    box-sizing: border-box;
}
body {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}
#game-field {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 600px;
  margin: auto;
}
.card {
      border: 1px solid #ccc;
      border-radius: 8px;
      padding: 20px;
      margin: 5px;
      width: 100px;
      height: 100px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      color: crimson;
      background-color: crimson;
      display: flex;
      align-items: center;
      justify-content: center;
}
.card:hover {
    color: rgb(185, 36, 66);
    background-color: rgb(185, 36, 66);
}
.card.revealed {
    color: white;
    background-color: rgb(0, 160, 107);
}