$font: 'Roboto', sans-serif
$heading-font: 'Anton', serif
$primary-color: #212517
$secondary-color: #374709

// breakpoints
$break480: 480px
$break768: 768px
$break768M: $break768 - 1px
$break992: 992px
$break992M: $break992 - 1px
$break1200: 1200px
$break1200M: $break1200 - 1px
