* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

#game-field {
    display: grid;
    grid-template-columns: repeat(5, 100px);
    gap: 10px;
}

.card {
    width: 100px;
    height: 100px;
    background-color: #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0;
    cursor: pointer;
}

.card:hover {
    background-color: #ccc;
}

.card.revealed {
    background-color: #aaf;
    font-size: 18px;
}
