body {
    margin: auto;
    text-align: center;
}

.tasks {
    background-color: lightgrey;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-around;
}

button {
    margin: 5px;
    background-color: white;
    border: none;
    border-radius: 3px;
}

button:hover {
    cursor: grab;
}

.results {
    text-align: left;
    padding: 20px;
    background-color: lightgrey;
    margin-top: 10px;
}

