* {
    box-sizing: border-box;
}
body {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

#game-field {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 1040px; 
}

.card {
    width: 200px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    background-color: rgb(14, 72, 143);
    color: transparent;
    border-radius: 20px;
    border: 10px solid white;
}
.card:hover {
    background-color: rgb(3, 25, 52);
}
.card.revealed {
    background-color: #2eccac;
    cursor: default;
    color: white;
}