@media only screen and (min-width: 540px) {
  .buttons-section {
    flex-direction: row;
    gap: 2rem;
  }

  .container {
    width: calc(100% - 6rem);
    padding: 0 3rem;
  }

  .main-header {
    h1 {
      font-size: 2.8rem;
    }
  }
}

@media only screen and (min-width: 868px) {
  h2 {
    text-align: left;
    margin-bottom: 2rem;
  }

  p {
    max-width: 700px;
  }

  section {
    padding: 3rem;
    max-width: 800px;
  }

  article {
    max-width: unset;
    margin: unset;
    padding-bottom: 2.5rem;
    margin-bottom: 2.5rem;
    border-bottom: 1px solid #c1c1c1;

    &:not(.preview-small) {
      grid-template-columns: min(50%, 500px) 1fr;
      gap: 2rem;
    }

    img {
      display: block;
    }
  }

  .articles-wrapper {
    gap: unset;
  }

  .preview-small {
    max-width: 700px;

    .article-heading {
      display: grid;
      grid-template-columns: 80px 1fr;
      align-items: center;
      gap: 1rem;
    }

    img {
      max-width: 120px;
    }
  }

  .tiles-section {
    grid-template-columns: 1fr 1fr;
    border-radius: 10px;
    justify-items: start;
  }

  .two-col-section,
  .three-col-section {
    p {
      max-width: 750px;
    }

    .column-divider {
      display: block;
      width: 1px;
      height: 80%;
      background-color: #c1c1c1;
    }
  }

  .two-col-section {
    grid-template-columns: 1fr 1px 1fr;
  }

  .three-col-section {
    grid-template-columns: 1fr 1px 1fr 1px 1fr;
  }

  .img-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }

  .text-left {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
  }

  .text-right {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
  }

  .img-left {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
  }

  .img-right {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
  }

  .main-header {
    h1 {
      font-size: 3.2rem;
    }

    p {
      font-size: 1.3rem;
    }
  }

  .navbar-collapse {
    position: relative;
    padding: unset;
    margin: unset;
    left: 0;
    flex-direction: row;
    gap: 0;
    height: auto;
    width: auto;
    background-color: unset;
    overflow-y: visible;
  }

  .navbar-toggler {
    display: none;
  }

  .nav-link {
    height: 80px;
    min-width: unset;
    border-radius: 0;
    font-size: 1rem;
    padding: 0 1rem;
    width: auto;
  }

  .dropdown-link {
    display: flex;
    flex-direction: row;
    align-items: center;

    i {
      position: relative;
      width: 30px;
      height: 30px;
      top: 25px;
      right: unset;
      top: unset;
      border-radius: 50%;

      &:hover {
        background-color: #def1e0;
      }
    }
  }

  .navbar-dropdown {
    display: none;
    position: absolute;
    left: 0;
    width: 100%;
    height: 80px;
    opacity: 1;
    background-color: unset;
    padding: 0;
    list-style-type: none;
    background-color: #f8f8f8;
    border-radius: 0 0 5px 5px;

    .nav-link {
      font-size: 1rem;
      border-radius: 5px;
    }
  }

  .navbar-dropdown.show {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }

  .main-header {
    &:before {
      background: linear-gradient(to right, rgba(0, 0, 0, 0.5), transparent);
    }

    .container:not(.homepage-header .container) {
      height: 500px;
    }

    .container {
      padding-bottom: unset;
      justify-content: center;
      align-items: flex-start;
      gap: 1rem;
    }
  }

  footer {
    margin-top: 4rem;

    .container {
      justify-content: flex-start;
    }

    .author {
      align-items: flex-start;
    }
  }

  form {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "name email" "message message" "submit submit";

    button[type="submit"] {
      margin: unset;
      max-width: 250px;
    }

    label {
      text-align: left;
    }

    input,
    textarea {
      margin: unset;
      max-width: 800px;
    }
  }

  .input-name {
    grid-area: name;
  }

  .input-email {
    grid-area: email;
  }

  .textarea-message {
    grid-area: message;
  }

  .submit-button {
    grid-area: submit;
  }
}

@media only screen and (min-width: 1024px) {
  .preview-small {
    .article-heading {
      grid-template-columns: 100px 1fr;
    }
  }

  section {
    max-width: 924px;
  }

  .tiles-section {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .tile {
    padding: 2.5rem;
  }

  .homepage-header {
    .container {
      display: flex;
      gap: 3rem;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
    }

    .our-mission {
      font-size: 1.2rem;
    }
  }

  .main-header {
    h1 {
      font-size: 3.6rem;
    }

    p {
      font-size: 1.4rem;
    }
  }

  .container {
    width: calc(100% - 10rem);
    padding: 0 5rem;
  }
}

@media only screen and (min-width: 1200px) {
  section {
    padding: 4rem 0;
    max-width: 1100px;
  }

  .main-header {
    .container:not(.homepage-header .container) {
      height: 600px;
    }

    h1 {
      font-size: 3.8rem;
    }
  }

  .container {
    width: calc(100% - 12rem);
    padding: 0 6rem;
  }
}

@media only screen and (min-width: 1440px) {
  .preview-small {
    .article-heading {
      grid-template-columns: 120px 1fr;
    }
  }

  html,
  body {
    font-size: 19px;
  }

  section {
    max-width: 1300px;
  }

  .main-header {
    h1 {
      font-size: 4.2rem;
    }

    p {
      font-size: 1.5rem;
    }
  }

  .container {
    width: calc(100% - 14rem);
    padding: 0 7rem;
    max-width: 1440px;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 1580px) {
  section {
    max-width: 1460px;
  }
}

@media only screen and (min-width: 1720px) {
  section {
    max-width: 1580px;
  }

  .two-col-section,
  .three-col-section {
    gap: 3rem;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 1920px) {
  section {
    padding: 4rem 0;
    max-width: 1600px;
  }

  html,
  body {
    font-size: 20px;
  }

  .main-header {
    h1 {
      font-size: 5rem;
    }

    p {
      font-size: 1.6rem;
    }
  }

  .container {
    width: calc(100% - 18rem);
    padding: 0 9rem;
    max-width: 1600px;
    margin: 0 auto;
  }
}
